.sp-card-back {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sp-card-back-header {
}

.sp-card-back-header-separator {
    align-self: flex-start;
}

.sp-card-back-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    padding: 8px;

    border-radius: 3mm; 
}

.sp-card-back-attributes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
}

.sp-card-back-attribute-container {
    display: flex;
    flex-flow: column nowrap;
}

.sp-card-back-attribute-title {
    font-size: 14px;
    font-family: Century Gothic;
}

.sp-card-back-attribute-value {
    margin-top: 4px;

    font-size: 12px;
    font-family: Century Gothic;
}

.sp-card-back-components {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 8px;
    justify-content: space-around;
}

.sp-card-back-description {
    flex: 1;
    padding: 0 8px;

    font-family: Century Gothic;
    text-align: justify;
}

.sp-card-back-footer {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 32px;
    align-items: center;
}

.sp-card-back-footer-icon {
    margin-right: 4px;
}

.sp-card-back-footer-text-delimeter {
    position: relative;
    top: -1px;

    font-size: 16px;
    font-family: Century Gothic;
}

.sp-card-back-footer-text {
    margin: 0 4px;

    font-size: 8px;
    font-family: Century Gothic;
    text-align: justify;
    white-space: pre-line;
}