//============== dark theme =================
$background-dark:       rgb(16, 21, 27);
$text-dark:             aliceblue;

$abjuration-dark:       rgb(0, 0, 242);
$conjuration-dark:      rgb(242, 172, 40);
$divination-dark:       rgb(211, 255, 255);
$enchantment-dark:      rgb(240, 168, 224);
$evocation-dark:        rgb(200, 16, 11);
$illusion-dark:         rgb(187, 114, 252);
$necromancy-dark:       rgb(119, 154, 116);
$transmutation-dark:    rgb(255, 251, 62);
$dominance-dark:        white;

//============== light theme ================
$background-light:      white;
$text-light:            rgb(16, 21, 27);

$abjuration-light:      rgb(0, 0, 242);
$conjuration-light:     rgb(242, 172, 40);
$divination-light:      rgb(168, 219, 219);
$enchantment-light:     rgb(226, 135, 205);
$evocation-light:       rgb(200, 16, 11);
$illusion-light:        rgb(187, 114, 252);
$necromancy-light:      rgb(119, 154, 116);
$transmutation-light:   rgb(143, 100, 53);
$dominance-light:       black;